/* Cleints */
.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-item {
    @include width-calc(2);

    @include tablet {
        @include width-calc(3);
    }

    @include desktop {
        flex-basis: calc((100% - 5 * 30px) / 6);
    }
}

.clients-link {
    display: flex;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: border-color var(--transition-time);

    .clients-icon {
        transition: fill var(--transition-time);
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}


.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}