/* container: 1170+padding-left+ padding-right */
.container {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.container--mobile {
  padding-left: 40px;
  padding-right: 15px;
  margin: 0 auto;
}