/* Features */
.feauters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feauters__item {
  width: 100%;

  @include tablet {
    @include width-calc (2);
  }

  @include desktop {
    @include width-calc (4);
  }
}

.feauters__title {
  text-align: center;
  margin-bottom: 10px;

  color: var(--dark-title-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  @include tablet {
    text-align: left;
  }
}

.feauters__text {
  line-height: 1.71;
}

.feauters__icon {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark-section-bgc);
}