/* Portfolio */
/* Potfolio-list */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {

    width: 100%;

    @include tablet {
        @include width-calc (2);
    }

    @include desktop {
        @include width-calc (3);
    }
}

/* with nth child */
/* .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.portfolio-link {
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;

    transition: box-shadow var(--transition-time);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--light-title-text-color);
    background: rgba(33, 150, 243, 0.9);

    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-time);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0);
    }
}



.portfolio-content {
    padding: 20px 24px;
    border-color: #eeeeee;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    flex-grow: 1;
}

.portfolio-title {
    color: var(--dark-title-text-color);
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.88;
}