/* Portfolio */
/* Filters */

.filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    column-gap: 8px;
    row-gap: 15px;
    max-width: 326px;

    @include tablet {
        max-width: 100%;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 8px;
    }
}


// .filter-item:not(:last-child) {
//     margin-right: 8px;
// }

.filter-link {
    padding: 6px 22px;
    min-width: 73px;
    border-radius: 4px;
    border-width: 0;
    border-color: transparent;

    background-color: var(--filter-bgc);
    color: var(--dark-title-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
    transition: color var(--transition-time), background-color var(--transition-time),
        box-shadow var(--transition-time);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);

        background-color: var(--accent-color);
        color: var(--light-title-text-color);
    }
}