/* Contacts */

.contacts {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767.9px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
        gap: 10px;
        flex-direction: column;
    }
}

.navigation__contacts {
    margin-left: auto;
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    gap: 10px;

    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--transition-time);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contacts__item {
    fill: currentColor;
}

.mobile-btn--open {
    margin-left: auto;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;

    cursor: pointer;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @include tablet {
        display: none;
    }
}