/* Contacts */

.contacts {
    display: flex;
    gap: 30px;
}

.navigation__contacts {
    margin-left: auto;
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    gap: 10px;

    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--transition-time);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.contacts__item {
    fill: currentColor;
}

