/* Logo */
.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    @include desktop {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__part--header {
    color: var(--logo-color-dark);
}

.logo__part--footer {
    color: var(--logo-color-light);
}